---
const today = new Date();
---

<footer>
	<div class="Container">
		<div class="Item">
			About
			<div class="Subtext">
				From hackathons to guest lectures, we unite AI and data science
				enthusiasts. Network, learn, and have fun
			</div>
			<div class="Icons">
				<img src="/AI_Logo.png" alt="AI_Logo" id="AILogo"/>
				<div class="Separator"></div>
				<img src="/Surrey_Logo.png" alt="Surrey_Logo" id = "SurreyLogo"/>
			</div>
			<div class="Copyright">
				Copyright © Surrey AI and Data Science Society
			</div>
		</div>

		<div class="Item">
			Quick Links
			<div class="Subtext">Events</div>
			<div class="Subtext">Blog</div>
			<div class="Subtext">Resources</div>
			<div class="Subtext">Committee</div>
			<div class="Subtext">Gallery</div>
		</div>

		<div class="Item">
			Contacts
			<div class="Icons2">
				<img src="/Whatsapp_Logo.png" alt="Whatsapp_Logo" id="WhatsappLogo"/>
				<img src="/Discord_Logo.png" alt="Discord_Logo" id="DiscordLogo"/>
				<img src="/Instagram_Logo.png" alt="Instagram_Logo" id="InstagramLogo"/>
			</div>
			<div class="Space"></div>
			<div class="Subtext">
				uosai@surrey.ac.uk
			</div>
			<div class="Subtext">
				University of Surrey, Stag Hill<br>
				Guildford, GU2 7XH<br>
				United Kingdom
			</div>
		</div>
	</div>
</footer>

<style>
	footer {
		background-color: rgb(0, 0, 0);
	}

	.Container {
		display: flex;
		justify-content: space-between;
		padding: 50px 120px;
	}

	.Item {
		color: white;
		font-size: 50px;
		padding: 20px;
		width: 300px;
	}

	.Space{
		height:20px;
	}

	.Subtext {
		color: white;
		font-size: 20px;

		margin-top: 30px;
	}

	.Icons {
		width: 200px;
		height: 70px;
		gap: 0.75rem; /* Add spacing between items */
		margin-top: 40px;

		display: flex;
		justify-content: center; /* Center horizontally */
		align-items: center; /* Center vertically */
		flex-wrap: nowrap;
	}

	#AILogo{
		width: 55px;
	}

	#SurreyLogo{
		width: 120px;
	}

	.Separator {
		background-color: rgb(255, 255, 255);
		width: 2px;
		height: 60px;
		flex-shrink: 0; /* Prevents it from shrinking */
	}

	.Copyright {
		color: white;
		font-size: 15px;

		margin-top: 50px;
	}

	.Item li {
		font-size: 20px;
		margin-top: 20px;
	}

	.Icons2 {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-top: 30px;
		width: 200px;
	}

	#WhatsappLogo, #InstagramLogo, #DiscordLogo{
		width: 50px;
		height: 50px;
	}

</style>
