---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';
---


<header>

	<nav>
		<div class="Icons">
			
			<img src="/AI_Logo.png" alt="AI_Logo" id="AILogo"/>
			<div class="Separator"></div>
			<img src="/Surrey_Logo.png" alt="Surrey_Logo" id = "SurreyLogo"/>
		</div>

		<ul>
			<li><HeaderLink href="/#events">Events</HeaderLink></li>
			<li><HeaderLink href="/#committee">Committee</HeaderLink></li>
			<li><HeaderLink href = "/blog">Blog</HeaderLink></li>
			<li><HeaderLink href = "/learning-resources/resources">Resources</HeaderLink></li>
			<li><HeaderLink href = "/gallery">Gallery</HeaderLink></li>
		</ul>
	</nav>
	
</header>

<style>
	header {
		top: 0;
		position: fixed;
		width: 100%;
		background-color: rgba(0, 0, 0);
		z-index: 9999;
	}

	nav {
		height: 77px;
		border-bottom: 2px solid #6d42fc;
		
		display: flex;
		justify-content: center; /* Center horizontally */
		align-items: center; /* Center vertically */
	}

	 /* Styling for the icons on the left */
	.Icons {
		width: 200px;
		height: 70px;
		position: absolute; /* Position the icon to the left */
		left: 20px; /* Adjust the distance from the left edge */
		gap: 0.75rem; /* Add spacing between items */

		display: flex;
		justify-content: center; /* Center horizontally */
		align-items: center; /* Center vertically */
		flex-wrap: nowrap;
	}

	#AILogo{
		background-color: rgb(0, 0, 0);
		width: 55px;
	}

	#SurreyLogo{
		background-color: rgb(0, 0, 0);
		width: 120px;
	}

	.Separator{
		background-color: rgb(255, 255, 255);
		width: 2px;
		height: 60px;
		flex-shrink: 0; /* Prevents it from shrinking */
	}

	nav ul{
		list-style: none; /* Remove default bullet points */
		display: flex; /* Display list items inline */
		gap: 3rem; /* Add spacing between items */
	}

	nav a{
		color: white;
		font-size: 20px;
		text-decoration: none;

		display: inline-block;
		position: relative;
	}

	nav a::after {
		content: '';
		position: absolute;
		width: 100%;
		transform: scaleX(0);
		height: 2px;
		bottom: 0;
		left: 0;
		background-color: #ffffff;
		transition: transform 0.25s ease-out;
	}

	nav a:hover::after {
		transform: scaleX(1);
	}

</style>
